footer {
  padding: 5px 30px;
  text-align: center;
  border-radius: 10px;
}

footer p {
  margin: 0 0 15px;
  padding: 0;
  font-family: "Lobster Two", cursive;
  font-size: 20px;
  color: var(--color-text);
}

.redes-sociales {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 25px;
}

.redes-sociales a {
  display: flex;
  align-items: center;
  background-color: var(--color-background2);
  border-radius: 15px;
  gap: 8px;
  color: var(--color-text);
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.redes-sociales svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.redes-sociales a:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}
