.gallery h3{
    font-size:1rem;
    margin-bottom:40px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px; 
    padding:60px 20px;
    text-align:center;

}

.gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}