/* Al igual que en la primera parte del t.p voy a volver a declarar los mismos estilos 
que anteriormente seleccione para mantener el mismo estilo */

/* la fuente primero */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

/* ahora los colores */
:root {
  --color-primary: #9ead8d;
  --color-secondary: #e6c8c8;
  --color-background: #f8f4ee;
  --color-background2: #e8dcc8;
  --color-text: #503a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--color-text);
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  font-size: 16px;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../assets/micheile-henderson-2Cp7Tdu9t9U-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}
