/* vamos a darle la misma apariencia a la navbar que en la pagina original */
nav {
  background-color: var(--color-background2);
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* línea para separar la navbar del contenido */
  border-bottom: 4px solid var(--color-primary);

  border-radius: 0 0 15px 15px;
  margin: 0 auto;
}

nav h2 {
  color: var(--color-text);
  font-family: "Lobster Two", cursive;
  font-size: 28px;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.05rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--color-primary);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo img {
  width: 70px;
  height: auto;
  object-fit: contain;
}
